@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4c2f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #fff8dc;
    width: 90%;
    max-width: 900px;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.151);
}

header h1 {
    font-size: 24px;
    color: #000;
}

nav {
    background-color: #e6e6fa;
    width: 90%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    
}

nav a:hover {
    color: #3679ff;
}

main {
    background-color: #fff8dc;
    width: 90%;
    max-width: 900px;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main h2 {
    text-align: center;
    font-size: 1.6em;
    padding-bottom: 5px;
}

section, aside, form {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.281);
}

#sobre p {
    font-size: 1.1em;
    text-align: center;
}

section#gallery img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

section#gallery figure {
    text-align: center;
    margin-bottom: 10px;
}

section#gallery audio,
section#gallery iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

section#galeria audio {
    margin-top: 10px;
    margin-bottom: 10px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside caption {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 1.5em;
}

aside li {
    margin: 8px 0;
}

aside a {
    text-decoration: none;
    color: #3679ff;
}

fieldset {
    border: 2px solid black;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background: transparent;
    outline: none;
    color: #000;
    transition: border-color 0.3s ease, box-shadow 0.3s ease
}

.input-box label.placeholder {
    position: absolute;
    top: 12px;
    left: 15px;
    display: flex;
    color: #999;
    pointer-events: none;
    transform: 0.3s ease;
}

.placeholder span {
    display: inline-block;
    transition: 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #3679ff;
    box-shadow: 0 0 6px rgba(54, 121, 255, 0.4);
}

.input-box input:focus ~ .placeholder span,
.input-box input:valid ~ .placeholder span {
    transform: translateY(-20px);
    color: #3679ff;
    font-size: 14px;
    background: #e8e8e8;
    padding: 0 2px;
}

.input-box span:nth-child(1) {
    transition-delay: 0s;
}

.input-box span:nth-child(2) {
    transition-delay: 0.05s;
}

.input-box span:nth-child(3) {
    transition-delay: 0.1s;
}

.input-box span:nth-child(4) {
    transition-delay: 0.15s;
}

.input-box span:nth-child(5) {
    transition-delay: 0.2s;
}

input[type=submit] {
    background: #3679ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

input[type=submit]:hover {
    background: #275bcc;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #444;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }
}