@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8eeb8;
}

#title {
    color: #555;
    text-align: center;
    margin-top: 15px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.349);;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #222;
    color: white;
    box-shadow: 5px solid black;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    width: 50px;
}

.menu a {
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: white;
    transform: color 0.3s;
    border-radius: 5px;
    text-align: center;
}

.menu a:hover {
    color:#ffcc00;
    background-color: rgba(0, 0, 0, 0.493);
}

.artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.363);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    transition: transform 0.4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.493);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;

}

.card h3 {
    margin: 10px 0;
    color: #333;
}

.card p {
    color: #555;
    flex-grow: 1;
}

.card button {
    background-color: #007bff;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.card button:hover {
    background-color: #0056b3;
}